@import '../../styles/base.scss';

.bikes-info {
  width: 654px;
  padding: 9px;
  height: calc(100vh - 84px);
  overflow-y: scroll;
  border-right: 1px solid $section-divider-color;
}

.bike-list__item {
  margin-bottom: 12px;
}
.bike-list__item:last-child {
  margin-bottom: 0;
}

.bike-list--empty {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
