$main-background-color: #e8e8e8;
$secondary-background-color: #696969;
$main-text-color: #000000;
$secondary-text-color: #717171;
$third-text-color: #ffffff;
$bike-card-text-color: #333333;
$bike-busy-border-color: #f2994a;
$bike-available-border-color: #6fcf97;
$bike-unavailable-border-color: #eb5757;
$section-divider-color: #c4c4c4;
$header-logo-color: #e8e8e8;
