@import '../../styles/base.scss';

.bike {
  position: relative;
  width: 618px;

  padding: 12px 18px;

  background-color: $main-background-color;
  border: 2px solid #6fcf97;
  border-radius: 10px;
}

.bike--available {
  border: 2px solid $bike-available-border-color;
}
.bike--busy {
  border: 2px solid $bike-busy-border-color;
}

.bike--unavailable {
  border: 2px solid $bike-unavailable-border-color;
  opacity: 0.5;
}

.bike__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: $bike-card-text-color;
}

.bike__text span {
  font-weight: 700;
}

.bike__id {
  font-size: 8px;
  line-height: 13px;
  color: $secondary-text-color;
}

.bike__status-wrapper {
  display: flex;
  align-items: center;
}

.bike__select {
  margin-left: 18px;
  font-size: 14px;
  text-transform: unset;
  border: none;
  background-color: inherit;
}

.bike__price {
  margin-left: auto;
  font-size: 24px;
  line-height: 24px;
  color: $main-text-color;
}
